*{
   margin: 0;
   padding: 0;
   font-family: "montserrat",sans-serif;
   box-sizing: border-box;
}

.gallery-section{
    padding: 60px 0;
    background:#f1f1f1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.inner-width{
   width: 100%;
   margin: auto;
   padding: 0 20px;
}

.space-around{
  margin-right: 5%;
  margin-left: 5%;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;  
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 230px;
  padding 5px;
  transition: 0.4s;
}

.gallery-section .image:hover img{
    transform: scale(1.2);
}

@media screen and (max-width: 760px){
    .gallery-section .image{
        flex: 50%;   
  }
}

@media screen and (max-width: 480px){
    .gallery-section .image{
        flex: 100%;
  }
}
